<div>
  <div>
    <h1>Register</h1>

    <p (click)="dialogRef.close()">X</p>
  </div>
  <form>
    <!-- Login section-->
    <div>
      <div>
        <input type="text"  placeholder="Name" name="password" [(ngModel)]="user.name"
               required>
      </div>
      <div>
        <input type="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div>
        <input type="password"  placeholder="Password" name="password" [(ngModel)]="user.password"
               required>
      </div>
      <div>
        <input type="password"  placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword"
               required>
      </div>
      <div>
        <button (click)="register()" >Register
        </button>
      </div>
    </div>
  </form>
</div>




