<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <button (click)="loginNewUser()">Login</button>
  </li>
  <br/>
  <br/>
  <li>
    <button (click)="registerNewUser()">Register</button>
  </li>
</ul>



