<div>
  <div>
    <h1>Login</h1>

    <p (click)="dialogRef.close()">X</p>
  </div>
  <form>
    <!-- Login section-->
    <div>
      <div>
          <input  placeholder="Email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div>
          <input type="password"  placeholder="Password" name="password" [(ngModel)]="user.password"
                 required>
      </div>
      <div>
        <button (click)="login()" >Login
        </button>
      </div>
    </div>
  </form>
</div>




